body {
    font-family: Arial, sans-serif;
    background-color: #F6F6F2;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #388087;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

p {
    margin: 0;
    padding: 10px 0;
}

section {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #388087;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #388087;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #E4F1F3;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #388087;
}

.edu-block, .experience-block, .volunteer-block {
    background: #EDEDED;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer a {
    color: #78d1e6;
    text-decoration: none;
}
